<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Areal</title>
</head>
<body>
    <header>
        <h1>Welcome to the Sport Areal</h1>
    </header>
    <main>
        <section>
            <h2>Hero </h2>
            <p>Stay tuned for the latest updates and news about our website and services.</p>
        </section>
        <section>
            <h2>About Us</h2>
            <p>This is the main page of our website. Here you can find various resources and information about our services.</p>
        </section>
        <section>
            <h2>Gallery</h2>
            <p>Check out our gallery to see images and videos of our events and activities.</p>
        </section>
        <section>
            <h2>Prices</h2>
            <p>Check out our pricing.</p>
        </section>
        <section>
            <h2>Reservation</h2>
            <p>Make a reservation for our services through our online booking system.</p>
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions or need further information, feel free to reach out to us via our contact page.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>
</body>
</html>